.img-width-signin-photo {
    max-width: 100%;
    /* position: absolute; */
    /* z-index: -1; */
}

.card-signin {
    width: 20%;
    padding: 1%;
    position: absolute;
}

.card-stack {
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1200px) and (min-width: 800px) {
    .card-signin {
        width: 40%;
        padding: 1%;
        position: absolute;
        align-self: center;
    }

    .card-stack {
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
}

@media only screen and (max-width: 800px) {
    .card-signin {
        width: 50%;
        padding: 1%;
        /* position: relative; */
        align-self: center;
    }

    .card-stack {
        justify-content: center;
        align-items: center;
        margin-top: 20%;
    }
}

@media screen and (max-width: 600px) {
    .card-signin {
        width: 50%;
        padding: 1%;
        align-self: center;
    }

    .card-stack {
        justify-content: center;
        align-items: center;
        margin-top: 40%;
    }

    .img-width-signin-photo {
        max-width: 100%;
        /* position: absolute; */
        /* z-index: -1; */
    }

    .card-content {
        padding: 10%;
    }
    
}