.img-width-signin-photo {
    max-width: 100%;
}

.card-signin {
    width: 20vw;
    padding: 1%;
    position: absolute !important;
}

.card-stack {
    justify-content: center;
    align-items: center;
}

.signin-icon {
    color: #e60049;
    font-size: 90px !important;
}

@media only screen and (max-width: 1300px) and (min-width: 800px) {
    .card-signin {
        width: 40%;
        padding: 1%;
        position: absolute;
        align-self: center;
    }

    .card-stack {
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
}


@media screen and (max-width: 800px) {
    .card-signin {
        width: 70%;
        padding: 1%;
        align-self: center;
    }

    .card-stack {
        justify-content: center;
        align-items: center;
        margin-top: 20vh;
    }

    .img-width-signin-photo {
        max-width: 100%;
    }

    .card-content {
        padding: 10%;
    }

    .signin-icon {
        font-size: 50px !important;
    }

    .login-text {
        font-size: large !important;
    }

}