.post-stack {
    width: 100%;
}

.post-card {
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

@media screen and (max-width: 899px) {
    .post-stack {
        width: 100%;
    }

    .post-card {
        width: 100%;
    }
}