.card-dashboard {
    padding: 20px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

.container-padding {
    margin-top: 100px;
}