.grey-box {
  background-color: #373737;
  z-index: -1;
  width: 100%;
}

.for-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 3%;
}

.box-carousel-about-card {
  width: 80%;
  margin: auto;
}

.add-facility-card {
  width: 50%;
  align-self: center;
}

.map-box {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.offer-box {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 10%;
}

.facility-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323232 !important;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  padding: 3%;
}

.card-content-map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 5% 5% 5% !important;
  background-color:  #EEEEEE !important;
}

.add-review-stack {
  width: 50%;
}

.reviews-stack {
  width: 80%;
}

@media screen and (max-width: 1000px) {
  .add-review-stack {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .grey-box {
    height: 100%;
  }

  .box-carousel-about-card {
    width: 100%;
    margin: auto;
  }

  .add-facility-card {
    width: 100%;
    align-self: center;
    margin-top: 5%;
  }

  .facility-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #323232 !important;
    width: 100%;
    align-self: center;
    margin-top: 5%;
    padding: 3%;
  }

  .card-content-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5% 5% 5%;
  }

  .map-box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .offer-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0%;
  }
}