.signup-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}


.signup-button {
  display: flex;
  flex-wrap: wrap;
}

.card-signup {
  padding: 3%;
  width: 20vw;
}