.delete-button {
    z-index: 1;
}

.image-styled {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0;
    object-fit: contain;
}

.carousel {
    background-color: black !important;
    width: 100%;
    display: flex;
    height: 600px;
    border-radius: 10px 10px 0px 0;
}

.image-box {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media screen and (max-width: 600px ) {
    .carousel {
        height: 300px;
    }

    .image-box {
        height: 300px;
    }
    
    .buttons {
        width: 30%
    }
    
}